
header {
    display:table;
    width:100%;
    max-width:100%;
}

header .module-title-container {
    display:table-row;
    line-height:1.5em;
    font-size:2em;
    white-space:nowrap;
}

header .daily-sub-container {
    display:table-row;
    white-space:nowrap;
}

header .module-title, header .daily-left {
    font-size:inherit; /* Change font-size in header */
    overflow:hidden;
    display:table-cell;
    vertical-align:middle;
    width:1px;
}

header span.spacer {
    display:table-cell;
    vertical-align:middle;
}

header .module-title, header .daily-left {
    padding:0px 10px 0px 0px;
}

header span.spacer:after {
    display:inline-block;
    width:100%;
    content:".";
    font-size:0;
    color:transparent;
    height:2px;
    background: #4A4A4A;
    vertical-align:middle;
    position:relative;
    top:-1px;
}

header span.spacer-daily:after {
    display:inline-block;
    width:100%;
    content:".";
    font-size:0;
    color:transparent;
    height:10px;
    background-image:url("../../static/img/bg_lines.png");
    vertical-align:middle;
    position:relative;
    top:10px;
}




body {
    background:url('../../static/img/bg.png');
    background-color: #222222;
    font-family: 'Open Sans', sans-serif;
    color: #7E7E7E;

    padding: 30px 20px 50px 0px;
}

.time-digit {
    margin: 0px 2px 0px 2px;
    padding: 0px 8px 0px 10px;
    background: rgba(77, 77, 77, 0.4);
    border-radius: 3px;
}

.log-entry {
    text-transform: lowercase;
}

#running, #last-run, .log-intro {
    color: #4A4A4A;
}

.toggle-pomodoro {
    text-align: center;
}

.label-pomodoro {
    color: #BFC89F;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 70%;
    letter-spacing: 0.08em;
}

/*Defaults (greyed-out)*/

.module-title {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 200%;
    font-weight: 200;
}

.top-dash-section {
    padding: 0px 0px 25px 0px;
}

.dash-section {
    padding: 25px 0px 10px 0px;
}

.border-row {
    height: 6px;
    margin-left: -5px;
    border-top: 2px dotted;
    border-bottom: 2px dotted;
    border-color: rgba(255, 255, 255, 0.08);
}

#border-column, .border-column-bottom {
    width: 6px;
    margin: auto;
    border-left: 2px dotted;
    border-right: 2px dotted;
    border-color: rgba(255, 255, 255, 0.08);
}

.module-title-icon {
    color: #4A4A4A;
    font-size: 85%;
}

/* Dailies - Incomplete */

.daily-container {
}

.daily-title-container {
    padding: 15px 0px 10px 0px;
}

.daily-title {
    color: #6c6c6c;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    font-size: 80%;
    font-weight: 300;
}

.metric-title {
    text-transform: uppercase;
    letter-spacing: 0.12em;
    font-size: 70%;
    font-weight: 200;
    line-height: 300%;
}

.daily-default {

}

.daily-icon-slot {
    margin: 0px 5px 0px 5px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: cover;
}

.do-daily {
    display: inline-block;
    font-size: 160%;
    color: #BFC89F;
}

.glyphicon-ok, .glyphicon-plus {
    color: #BFC89F;
}

.glyphicon-remove {
    color: #f9a3a3;
}

/* Dailies - Done */

#current-time {
    color: #bfbfbf;
    text-align: center;
    letter-spacing: 0.05em;
    font-size: 400%;
    font-weight: 100;
    padding: 25px 0px 25px 0px;
}

.btn-success {
    color: #bfbfbf;
    background-color: #4A4A4A;
    border-color: #4A4A4A;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
    color: #bfbfbf;
    background-color: #574260 !important;
    border-color: #574260 !important;
}

.submit-text {
    background-color: rgba(77, 77, 77, 0.2);
    border-radius: 5px;
    border: 0;
    width: 100%;
    color: #bfbfbf;
    padding: 10px 15px 10px 15px;
}

.view-text {
    background-color: rgba(77, 77, 77, 0.2);
    border-radius: 5px;
    border: 0;
    width: 100%;
    color: #a0a0a0;
    padding: 15px 20px 15px 20px;
    margin: 10px 0px 0px 0px;
    line-height: 180%;
}

.show-inline {
    display: inline-block;
}

input {
    background-color: rgba(77, 77, 77, 0.2);
    color: #bfbfbf;
    border: 0;
    padding: 10px 15px 10px 15px;
    margin: 0px 0px 3px 0px;
    border-radius: 5px;
}

.go-button {
    background-color: rgba(255, 255, 255, 0.15);
    font-weight: 700;
    color: #BFC89F;
}

.full-width {
    width: 100%;
}

.third-width {
    width: 28.6%;
}

.nearly-full-width {
    width: 87.85%;
}

.nearly-full-width-sm {
    width: 76%;
}

input::-webkit-input-placeholder {
color: rgba(255, 255, 255, 0.2);
}
 
input:-moz-placeholder { /* Firefox 18- */
color: rgba(255, 255, 255, 0.2);
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: rgba(255, 255, 255, 0.2);
}
 
input:-ms-input-placeholder {  
color: rgba(255, 255, 255, 0.2);
}

.submit-text: active {
    background-color: #9e5e71 !important;
}

.btn:focus,.btn:active, textarea:focus, textarea:active, input:focus, input:active {
   outline: none !important;
}

.pomo-score {
    background-color: #4D4D4D;
    color: rgba(255, 255, 255, 0.5);
}

.pomo-score-0:hover, .pomo-score-0:focus, .pomo-score-0:active, .pomo-score-0.active {
    background-color: #4D4D4D;
    color: rgba(255, 255, 255, 0.5);
}

.pomo-score-1:hover, .pomo-score-1:focus, .pomo-score-1:active, .pomo-score-1.active {
    background-color: #574260;
    color: rgba(255, 255, 255, 0.5);
}

.pomo-score-2:hover, .pomo-score-2:focus, .pomo-score-2:active, .pomo-score-2.active {
    background-color: #7b5069;
    color: rgba(255, 255, 255, 0.5);
}

.pomo-score-3:hover, .pomo-score-3:focus, .pomo-score-3:active, .pomo-score-3.active {
    background-color: #9E5E71;
    color: rgba(255, 255, 255, 0.5);
}

.pomo-score-4:hover, .pomo-score-4:focus, .pomo-score-4:active, .pomo-score-4.active {
    background-color: #b86c74;
    color: rgba(255, 255, 255, 0.5);
}

.pomo-score-5:hover, .pomo-score-5:focus, .pomo-score-5:active, .pomo-score-5.active {
    background-color: #D27976;
    color: rgba(255, 255, 255, 0.5);
}

.pomo-score-6:hover, .pomo-score-6:focus, .pomo-score-6:active, .pomo-score-6.active {
    background-color: #e2937b;
    color: rgba(255, 255, 255, 0.5);
}

.pomo-score-7:hover, .pomo-score-7:focus, .pomo-score-7:active, .pomo-score-7.active {
    background-color: #F1AC7F;
    color: rgba(255, 255, 255, 0.5);
}

.pomo-score-8:hover, .pomo-score-8:focus, .pomo-score-8:active, .pomo-score-8.active {
    background-color: #f4bf8d;
    color: rgba(255, 255, 255, 0.5);
}

.pomo-score-9:hover, .pomo-score-9:focus, .pomo-score-9:active, .pomo-score-9.active {
    background-color: #F7D19C;
    color: rgba(255, 255, 255, 0.5);
}