<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}
         {% endblock %}</title>
 
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,700italic,600,600italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
</head>

<body>

{% block content %}
{% endblock %}

<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="../../static/js/chartjs/Chart.js"></script>

{% block javascript %}
{% endblock %}

</body>

<footer></footer>

</html>