{% extends "base.html" %}

{% block title %}
Mason Dash
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="dash-section col-xs-12 col-md-4 col-lg-4">
                <span class="module-title">
                    <span class="module-title-icon glyphicon glyphicon-time" aria-hidden="true"></span> Pomodoro</span><br />

                    <span style="display: none;" id="running" class="currently-running"><i>running</i> &nbsp;</span>
                    <span style="display: none;" id="current-start-time" class="currently-running"></span>
                    <span style="display: none;" class="currently-running"> &#10230; </span>
                    <span style="display: none;" id="current-finish-time" class="currently-running"></span>

                    <div id="current-time">
                    <span class="minutes">30</span>:<span class="seconds">00</span>
                    </div>

            <div id="toggle-pomodoro" style="{% if current_pomo %}display: none;{% endif %}">
                <button id="start-pomodoro" type="button" class="btn btn-success">Start pomodoro</button>
                <button style="display: none;" id="submit-pomodoro" type="button" class="btn btn-success">Submit pomodoro</button>
            </div>

            <div id="pomodoro-submit-alert" style="display: none;">
                <br />
                <span class="glyphicon glyphicon-ok label-pomodoro" aria-hidden="true"></span> <span class="label label-pomodoro">Pomodoro submitted</span>
            </div>

                <br /><br />

<div id="pomodoro-metrics" style="display: none;">

                <textarea id="pomodoro-desc" class="submit-text"></textarea><br />

                <span class="metric-title">Mood</span>

                <br />

                <button id="mood-0" type="button" class="btn btn-xs pomo-score-mood pomo-score-0 pomo-score">0</button>
                <button id="mood-1" type="button" class="btn btn-xs pomo-score-mood pomo-score-1 pomo-score">1</button>
                <button id="mood-2" type="button" class="btn btn-xs pomo-score-mood pomo-score-2 pomo-score">2</button>
                <button id="mood-3" type="button" class="btn btn-xs pomo-score-mood pomo-score-3 pomo-score">3</button>
                <button id="mood-4" type="button" class="btn btn-xs pomo-score-mood pomo-score-4 pomo-score">4</button>
                <button id="mood-5" type="button" class="btn btn-xs pomo-score-mood pomo-score-5 pomo-score">5</button>
                <button id="mood-6" type="button" class="btn btn-xs pomo-score-mood pomo-score-6 pomo-score">6</button>
                <button id="mood-7" type="button" class="btn btn-xs pomo-score-mood pomo-score-7 pomo-score">7</button>
                <button id="mood-8" type="button" class="btn btn-xs pomo-score-mood pomo-score-8 pomo-score">8</button>
                <button id="mood-9" type="button" class="btn btn-xs pomo-score-mood pomo-score-9 pomo-score">9</button>

                <br />

                <span class="metric-title">Motivation</span><br />

                <button id="motivation-0" type="button" class="btn btn-xs pomo-score-motivation pomo-score-0 pomo-score">0</button>
                <button id="motivation-1" type="button" class="btn btn-xs pomo-score-motivation pomo-score-1 pomo-score">1</button>
                <button id="motivation-2" type="button" class="btn btn-xs pomo-score-motivation pomo-score-2 pomo-score">2</button>
                <button id="motivation-3" type="button" class="btn btn-xs pomo-score-motivation pomo-score-3 pomo-score">3</button>
                <button id="motivation-4" type="button" class="btn btn-xs pomo-score-motivation pomo-score-4 pomo-score">4</button>
                <button id="motivation-5" type="button" class="btn btn-xs pomo-score-motivation pomo-score-5 pomo-score">5</button>
                <button id="motivation-6" type="button" class="btn btn-xs pomo-score-motivation pomo-score-6 pomo-score">6</button>
                <button id="motivation-7" type="button" class="btn btn-xs pomo-score-motivation pomo-score-7 pomo-score">7</button>
                <button id="motivation-8" type="button" class="btn btn-xs pomo-score-motivation pomo-score-8 pomo-score">8</button>
                <button id="motivation-9" type="button" class="btn btn-xs pomo-score-motivation pomo-score-9 pomo-score">9</button>

                <br />

                <span class="metric-title">Focus</span><br />

                <button id="focus-0" type="button" class="btn btn-xs pomo-score-focus pomo-score-0 pomo-score">0</button>
                <button id="focus-1" type="button" class="btn btn-xs pomo-score-focus pomo-score-1 pomo-score">1</button>
                <button id="focus-2" type="button" class="btn btn-xs pomo-score-focus pomo-score-2 pomo-score">2</button>
                <button id="focus-3" type="button" class="btn btn-xs pomo-score-focus pomo-score-3 pomo-score">3</button>
                <button id="focus-4" type="button" class="btn btn-xs pomo-score-focus pomo-score-4 pomo-score">4</button>
                <button id="focus-5" type="button" class="btn btn-xs pomo-score-focus pomo-score-5 pomo-score">5</button>
                <button id="focus-6" type="button" class="btn btn-xs pomo-score-focus pomo-score-6 pomo-score">6</button>
                <button id="focus-7" type="button" class="btn btn-xs pomo-score-focus pomo-score-7 pomo-score">7</button>
                <button id="focus-8" type="button" class="btn btn-xs pomo-score-focus pomo-score-8 pomo-score">8</button>
                <button id="focus-9" type="button" class="btn btn-xs pomo-score-focus pomo-score-9 pomo-score">9</button>

                <br />

                <span class="metric-title">Energy</span><br />

                <button id="energy-0" type="button" class="btn btn-xs pomo-score-energy pomo-score-0 pomo-score">0</button>
                <button id="energy-1" type="button" class="btn btn-xs pomo-score-energy pomo-score-1 pomo-score">1</button>
                <button id="energy-2" type="button" class="btn btn-xs pomo-score-energy pomo-score-2 pomo-score">2</button>
                <button id="energy-3" type="button" class="btn btn-xs pomo-score-energy pomo-score-3 pomo-score">3</button>
                <button id="energy-4" type="button" class="btn btn-xs pomo-score-energy pomo-score-4 pomo-score">4</button>
                <button id="energy-5" type="button" class="btn btn-xs pomo-score-energy pomo-score-5 pomo-score">5</button>
                <button id="energy-6" type="button" class="btn btn-xs pomo-score-energy pomo-score-6 pomo-score">6</button>
                <button id="energy-7" type="button" class="btn btn-xs pomo-score-energy pomo-score-7 pomo-score">7</button>
                <button id="energy-8" type="button" class="btn btn-xs pomo-score-energy pomo-score-8 pomo-score">8</button>
                <button id="energy-9" type="button" class="btn btn-xs pomo-score-energy pomo-score-9 pomo-score">9</button>

                <br />

                <span class="metric-title">Hunger</span><br />

                <button id="hunger-0" type="button" class="btn btn-xs pomo-score-hunger pomo-score-0 pomo-score">0</button>
                <button id="hunger-1" type="button" class="btn btn-xs pomo-score-hunger pomo-score-1 pomo-score">1</button>
                <button id="hunger-2" type="button" class="btn btn-xs pomo-score-hunger pomo-score-2 pomo-score">2</button>
                <button id="hunger-3" type="button" class="btn btn-xs pomo-score-hunger pomo-score-3 pomo-score">3</button>
                <button id="hunger-4" type="button" class="btn btn-xs pomo-score-hunger pomo-score-4 pomo-score">4</button>
                <button id="hunger-5" type="button" class="btn btn-xs pomo-score-hunger pomo-score-5 pomo-score">5</button>
                <button id="hunger-6" type="button" class="btn btn-xs pomo-score-hunger pomo-score-6 pomo-score">6</button>
                <button id="hunger-7" type="button" class="btn btn-xs pomo-score-hunger pomo-score-7 pomo-score">7</button>
                <button id="hunger-8" type="button" class="btn btn-xs pomo-score-hunger pomo-score-8 pomo-score">8</button>
                <button id="hunger-9" type="button" class="btn btn-xs pomo-score-hunger pomo-score-9 pomo-score">9</button>

                <br /><br />
</div>

            </div>

            <div class="dash-section col-xs-12 col-md-8 col-lg-8">
                <span class="module-title">
                    <span class="module-title-icon glyphicon glyphicon-play-circle" aria-hidden="true"></span> Dailies</span><br />


                {% for daily in dailies %}

                    {% if (daily.id % 3) == 0 %}
                        <div id="daily-{{ daily.id }}" class="col-xs-12 col-md-4 col-lg-4">
                            <div class="{{ daily.class_name }}">
                                <span class="daily-title">{{ daily.name }}</span></div>


                                {% for x in range(daily.count) %}
                                    {% if x < daily.qty %}
                                <div id="icon-{{x}}-{{ daily.id }}-{{ daily.icon }}" class="daily-icon-slot">
                                    <img id="img-{{x}}-{{ daily.id }}" class="daily-icon" src="../../static/img/daily-icons/{{ daily.icon }}-{{ 6 - (daily.colors + x) }}.png">
                                </div>
                                    {% endif %}
                                {% endfor %}


                                {% for x in range(daily.qty - daily.count) %}
                                <div id="icon-{{ daily.count + x }}-{{ daily.id }}-{{ daily.icon }}" class="daily-icon-slot">
                                    <img id="img-{{ daily.count + x }}-{{ daily.id }}" class="daily-icon" src="../../static/img/daily-icons/{{ daily.icon }}.png">
                                </div>
                                {% endfor %}


                                <div id="do-daily-{{ daily.id }}-{{ daily.icon }}" class="do-daily" style="display: none;">
                                    <span class="module-title-icon glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </div>
                        </div>
                        </div>
                    {% elif (daily.id % 3) == 1 %}
                        <div class="row">
                        <div id="daily-{{ daily.id }}" class="col-xs-12 col-md-4 col-lg-4">
                            <div class="{{ daily.class_name }}">
                            <span class="daily-title">{{ daily.name }}</span></div>
                        

                            {% for x in range(daily.count) %}
                                    {% if x < daily.qty %}
                                <div id="icon-{{x}}-{{ daily.id }}-{{ daily.icon }}" class="daily-icon-slot">
                                    <img id="img-{{x}}-{{ daily.id }}" class="daily-icon" src="../../static/img/daily-icons/{{ daily.icon }}-{{ 6 - (daily.colors + x) }}.png">
                                </div>
                                    {% endif %}
                                {% endfor %}


                                {% for x in range(daily.qty - daily.count) %}
                                <div id="icon-{{ daily.count + x }}-{{ daily.id }}-{{ daily.icon }}" class="daily-icon-slot">
                                    <img id="img-{{ daily.count + x }}-{{ daily.id }}" class="daily-icon" src="../../static/img/daily-icons/{{ daily.icon }}.png">
                                </div>
                                {% endfor %}


                                <div id="do-daily-{{ daily.id }}-{{ daily.icon }}" class="do-daily" style="display: none;">
                                    <span class="module-title-icon glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </div>
                        </div>
                    {% else %}
                        <div id="daily-{{ daily.id }}" class="col-xs-12 col-md-4 col-lg-4">
                            <div class="{{ daily.class_name }}">
                            <span class="daily-title">{{ daily.name }}</span></div>
                            

                            {% for x in range(daily.count) %}
                                    {% if x < daily.qty %}
                                <div id="icon-{{x}}-{{ daily.id }}-{{ daily.icon }}" class="daily-icon-slot">
                                    <img id="img-{{x}}-{{ daily.id }}" class="daily-icon" src="../../static/img/daily-icons/{{ daily.icon }}-{{ 6 - (daily.colors + x) }}.png">
                                </div>
                                    {% endif %}
                                {% endfor %}


                                {% for x in range(daily.qty - daily.count) %}
                                <div id="icon-{{ daily.count + x }}-{{ daily.id }}-{{ daily.icon }}" class="daily-icon-slot">
                                    <img id="img-{{ daily.count + x }}-{{ daily.id }}" class="daily-icon" src="../../static/img/daily-icons/{{ daily.icon }}.png">
                                </div>
                                {% endfor %}


                            <div id="do-daily-{{ daily.id }}-{{ daily.icon }}" class="do-daily" style="display: none;">
                                    <span class="module-title-icon glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </div>

<!--                             <div id="over-qty">
                                <span class="module-title-icon glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <span class="module-title-icon glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <span class="module-title-icon glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </div> -->
                        </div>
                    {% endif %}

                {% endfor %}


            </div>
        </div>

        <div class="row">
            <div class="dash-section col-xs-12 col-md-5 col-lg-5">
                <span class="module-title">
                    <span class="module-title-icon glyphicon glyphicon glyphicon-cutlery" aria-hidden="true"></span> Food</span><br /><br />
                

                <input class="full-width" type="text" id="food-desc" name="food-desc" placeholder="description">
                <input class="nearly-full-width" type="text" id="calories-eaten" name="calories-eaten" placeholder="calories">
                <input id="submit-food" class="go-button" type="submit" value="&#10004;"></input>

                <div id="food-submit-alert" style="display: none;">
                <br />
                <span class="glyphicon glyphicon-ok label-pomodoro" aria-hidden="true"></span> <span class="label label-pomodoro">Food submitted</span>
            </div>


            </div>

            <div class="dash-section col-xs-12 col-md-5 col-lg-5">
                <span class="module-title">
                    <span class="module-title-icon glyphicon glyphicon-fire" aria-hidden="true"></span> Exercise</span><br /><br />
                

                <input class="full-width" type="text" id="exercise-desc" name="exercise-desc" placeholder="description">
                <input class="third-width" type="text" id="duration" name="duration" placeholder="duration">
                <input class="third-width" type="text" id="intensity" name="intensity" placeholder="intensity">
                <input class="third-width" type="text" id="calories-burnt" name="calories-burnt" placeholder="calories">
                <input id="submit-exercise" class="go-button" type="submit" value="&#10004;"></input>

                <div id="exercise-submit-alert" style="display: none;">
                <br />
                <span class="glyphicon glyphicon-ok label-pomodoro" aria-hidden="true"></span> <span class="label label-pomodoro">Exercise submitted</span>
            </div>

            </div>

            <div class="dash-section col-xs-12 col-md-2 col-lg-2">
                <span class="module-title">
                    <span class="module-title-icon glyphicon glyphicon-random" aria-hidden="true"></span> Misc</span><br /><br />
            
                <input class="full-width" type="text" id="misc-desc" name="misc-desc" placeholder="description">
                <input class="nearly-full-width-sm" type="text" id="misc-name" name="misc-name" placeholder="name">
                <input id="submit-misc" class="go-button" type="submit" value="&#10004;"></input>

                <div id="misc-submit-alert" style="display: none;">
                <br />
                <span class="glyphicon glyphicon-ok label-pomodoro" aria-hidden="true"></span> <span class="label label-pomodoro">Misc factor submitted</span>
            </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script>

var pomoStart, pomoEnd, pomoID;
var startTimeText, endTimeText;

{% if current_pomo %}
pomoStart = new Date('{{ current_pomo.start.strftime("%a %b %d %Y %X") }}');
pomoEnd = new Date('{{ current_pomo.finish.strftime("%a %b %d %Y %X") }}');
pomoID = '{{ current_pomo.id }}';

startTimeText = dateToText(pomoStart);
endTimeText = dateToText(pomoEnd);

updateCurrentlyRunning(startTimeText, endTimeText);
initializeClock('current-time', pomoStart, pomoEnd);
{% endif %}


$( "#submit-pomodoro" ).click(function() {
    submitMetrics();
    console.log("this did work");
});

function updateCurrentlyRunning(start, end) {
    $( "#current-start-time" ).html(start);
    $( "#current-finish-time" ).html(end);
    $( ".currently-running" ).fadeTo(500, 1);
}
function dateToText(date){
    var dLabel = 'AM';
    var dTime = String(date).split(' ')[4];
    var dHour = parseInt(dTime.split(':')[0]);
    var dMinute = dTime.split(':')[1];

    if (dHour > 12){ 
        dHour = dHour - 12;
        dHour = ("0" + String(dHour)).slice(-2);
        dLabel = 'PM';
    };

    return String(dHour) + ':' + String(dMinute) + ' ' + dLabel;
}

//======================  start timer ======================//


function getTimeRemaining(start, end){
    var t = Date.parse(end) - new Date();
    var seconds = Math.floor( (t/1000) % 60 );
    var minutes = Math.floor( (t/1000/60) % 60 );
    var hours = Math.floor( (t/(1000*60*60)) % 24 );
    var days = Math.floor( t/(1000*60*60*24) );

    return {
    'total': t,
    'days': days,
    'hours': hours,
    'minutes': minutes,
    'seconds': seconds
  };
}

function initializeClock(id, start, end){
    $( "#toggle-pomodoro" ).fadeTo(2000,0)
    var clock = document.getElementById(id);
    // var daysSpan = clock.querySelector('.days');
    // var hoursSpan = clock.querySelector('.hours');
    var minutesSpan = clock.querySelector('.minutes');
    var secondsSpan = clock.querySelector('.seconds');


    function updateClock(){
        var t = getTimeRemaining(start, end);
            // daysSpan.innerHTML = t.days;
            // hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
            minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
            secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

    if(t.total <=0 ){
        clearInterval(timeinterval);
        minutesSpan.innerHTML = '00';
        secondsSpan.innerHTML = '00';
        displayMetrics();
        updateCurrentlyRunning(startTimeText, 'NOW');
       }
    }

    updateClock(); // run function once at first to avoid delay
        
    var timeinterval = setInterval(updateClock,1000);
}


//======================  end timer ======================//
//======================  start pomodoro metrics ======================//

function displayMetrics() {
    $( "#pomodoro-metrics" ).stop().fadeTo(200,1);
    $( "#toggle-pomodoro" ).stop().fadeTo(200,1);
    
    $( "#start-pomodoro" ).hide();
    $( "#submit-pomodoro" ).show();
}

function hideMetrics() {
    $( "#pomodoro-metrics" ).stop().fadeTo(200,0);
}

//======================  end pomodoro metrics ======================//

function submitMetrics() {

    console.log('inside submit metrics');

    var pomoDesc = document.getElementById("pomodoro-desc").value;
    var pomoScores = document.getElementsByClassName("active");
    var pomoData = { "pomo_id": pomoID,
                     "pomo_desc": pomoDesc,
                     "pomo_end": new Date(),
                    };

    for (i = 0; i < pomoScores.length; i++) { 
        var metricName = pomoScores[i].id.split('-')[0];
        var metricValue = pomoScores[i].id.split('-')[1];
        pomoData[metricName] = metricValue;
    } 

    $.ajax({
        method: "POST",
        url: "/submit-pomo",
        data: pomoData
        });

    $( "#start-pomodoro" ).show();
    $( "#submit-pomodoro" ).hide();
    $( ".currently-running" ).fadeTo(300,0)

    $( "#pomodoro-submit-alert" ).stop().fadeTo(300,1)
    setTimeout(function(){ 
        $( "#pomodoro-submit-alert" ).stop().fadeTo(2000,0)
     }, 1000);

    hideMetrics();

}

function incrementCount(dailyID) {
    dailyCounts[dailyID] += 1;
}

var dailyCounts = {}

{% for daily in dailies %}
    dailyCounts[ {{ daily.id }}] = {{ daily.count }}
{% endfor %}


$( ".daily-icon-slot" ).mouseover(function() {
    var daily = this.id;
    var dailyID = daily.split("-")[2];
    var dailyImg =  daily.split("-")[3];

$( "#do-daily-" + dailyID + "-" + dailyImg ).stop().fadeTo(200,1)
});

$( ".do-daily" ).mouseover(function() {
    var daily = this.id;
    var dailyID = daily.split("-")[2];
    var dailyImg =  daily.split("-")[3];

$( "#do-daily-" + dailyID + "-" + dailyImg ).stop().fadeTo(200,1)
});

$( ".daily-icon-slot" ).mouseout(function() {
    var daily = this.id;
    var dailyID = daily.split("-")[2];
    var dailyImg =  daily.split("-")[3];

$( "#do-daily-" + dailyID + "-" + dailyImg ).stop().fadeTo(2000,0)
});

$( ".do-daily" ).mouseout(function() {
    var daily = this.id;
    var dailyID = daily.split("-")[2];
    var dailyImg =  daily.split("-")[3];

$( "#do-daily-" + dailyID + "-" + dailyImg ).stop().fadeTo(2000,0)
});


$( ".do-daily" ).click(function() {
    var daily = this.id;
    var dailyID = daily.split("-")[2];
    var dailyImg =  daily.split("-")[3];
    var imgID = "#img-" + dailyCounts[dailyID] + "-" + dailyID;

    $( imgID ).attr('src','../../static/img/daily-icons/' + dailyImg + '-green.png');

    $.ajax({
        method: "POST",
        url: "/complete",
        data: { "daily_id": dailyID }
        });

    incrementCount(dailyID);

    console.log(dailyCounts[dailyID]);
    console.log(imgID);

});

$( ".pomo-score" ).click(function() {
    var metric = this.id;
    var metricType = metric.split("-")[0];

   $( '.pomo-score-' + metricType ).removeClass('active');
   $(this).addClass('active');
});


$( "#start-pomodoro" ).click(function() {
    pomoStart = new Date();
    pomoEnd = new Date(Date.parse(new Date()) + 30 * 60 * 1000);

    startTimeText = dateToText(pomoStart);
    endTimeText = dateToText(pomoEnd);
    updateCurrentlyRunning(startTimeText, endTimeText);
    initializeClock('current-time', pomoStart, pomoEnd);

    pomoID = $.ajax({
        method: "POST",
        url: "/start-pomo",
        data: { "pomo_start": pomoStart,
                "pomo_end": pomoEnd }
        });
});

$( "#submit-food" ).click(function() {

    var desc = $( "#food-desc" ).val();
    var calories = $( "calories-eaten" ).val();

    $.ajax({
        method: "POST",
        url: "/submit-food",
        data: { "desc": desc,
                "calories": calories }
        });
});

$( "#submit-exercise" ).click(function() {

    var desc = $( "#exercise-desc" ).val();
    var duration = $( "#duration" ).val();
    var intensity = $( "#intensity" ).val();
    var calories = $( "calories-burnt" ).val();

    $.ajax({
        method: "POST",
        url: "/submit-food",
        data: { "desc": desc,
                "duration": duration,
                "intensity": intensity,
                "calories": calories }
        });
});

$( "#submit-misc" ).click(function() {

    var desc = $( "#misc-desc" ).val();
    var name = $( "misc-name" ).val();

    $.ajax({
        method: "POST",
        url: "/submit-food",
        data: { "desc": desc,
                "misc-name": name }
        });
});

</script>
{% endblock %}